@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@400;700&display=swap');
:root {
    --red: #f34a37;   
}
/****** basic ******/
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    background-image: url(./images/background/background.jpg);
    background-attachment: fixed;
}
a {
    color: var(--red);
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 2px -2px 5px var(--red);
}
h1 {
    font-style: oblique;
    font-size: 70px;
    
}
h2 , h3, h4, h5 {
    font-family: 'Dancing Script', cursive;
    color: var(--red);
}
h2::after {
    display: block;
    content: "";
    width: 200px;
    height: 8px;
    background: linear-gradient(to right, rgba(207, 19, 19, 1), rgba(207, 19, 19, .7));
    margin: 10px auto 0 auto;
    opacity: 0.8;
}
h2 {
    font-size: 45px;
}
.favicon {
    background-color: #fff;
}
/* buttons */
.btn {
    background: linear-gradient(to right, rgba(207, 19, 19, 1), rgba(207, 19, 19, .7));
    color: white;
    opacity: 0.8;
}
.btn:active{
    color: var(--red);
}
/*** navbar ***/
.fa-bars {
    color: var(--red);
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}
.navbar-brand img {
    width: 70px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/*** home page ***/
#home-page {
    background-image: url(./images/home/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
#home-page h4 {
    color: #f8f8f8; 
    text-shadow: 2px -5px 5px var(--red);
}
/* hgroup */
hgroup {
    text-shadow: 2px -5px 5px #f8f8f8;
    color: var(--red);
    line-height: 3;
}
hgroup p {
    font-size: 28px;
    font-style: oblique;
}
/* about */
span {
    font-family: 'Dancing Script', cursive;
    color: var(--red);
    font-size: 25px;
}
/* collections */
.collections img {
    transition: 500ms;  
}
.collections img:hover {
    transform: scale(1.03);
}
.collections-card h3 {
    font-size: 35px;
}
/* .products img:hover {
    cursor: pointer;
} */
/* contact */
.form-group input[type=text]:focus,
.form-group [type=text].form-control:focus,
.form-group [type=email].form-control:focus,
.form-group [type=email].form-control:focus,
.btn:focus, .btn:active {
  box-shadow: 1px 1px 5px var(--red);
  border: 1px solid var(--red);
}
/* footer */
.copyright {
    background: linear-gradient(to right, rgba(207, 19, 19, 1), rgba(207, 19, 19, .7));
    color: white;
    font-size: 14px;
}
.copyright a {
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.copyright a:hover {
    opacity: 0.7;
}
.social-icons a:hover {
    color: var(--red);
    opacity: 0.7;
}


